.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.timetable {
    background-color: #fff8fb;
  }
}

.content-title-box {
  margin-top: 100px;
  width: 100vw;
  height: 200px;
  align-self: row;
  order: 0;
  text-align: center;
  display: table;

}

.content-content-box {
  background-color: #e4ff30;
  width: 60vw;
  order: 1;
  overflow: auto;
  margin-bottom: 200px;

  &.timetable {
    background-color: #ffff;
    border: 1px solid #ffb5d5;
  }
}


.title-text {
  font-family: 'Roboto-medium';
  font-size: 60px;
  display: table-cell; /*acts like a table cell*/
  vertical-align: middle;
  color: #e3ff00;

  &.timetable {
    color: #ff97c4;
  }
}

.content-text {
  font-family: 'Roboto-medium';
  font-size: 20px;
}

.content-text-wrapper {
  padding: 30px;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
  
  .content-title-box {
    width: 100%;
    height: 20vh;
  }

  .content-content-box {
    width: 100%;
    height: 80vh;
  }

  .content-title-box.inverted {
    order: 0;
  }

  .content-content-box.inverted {
    order: 1;
  }

  .content-text {
    font-size: 17px;
  }

}
