.content {
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  

  &.timetable {
    background-color: #fff8fb;
  }
}

.content-title-box {
  margin-top: 100px;
  width: 100vw;
  height: 200px;
  align-self: row;
  order: 0;
  text-align: center;
  display: table;

  @media (max-width: 1000px) {
    text-align: left;
    margin-left: 30px;
  }
}

.content-content-box {
  background-color: #e4ff30;
  width: 60vw;
  order: 1;
  position: relative;
  z-index: initial;
  margin-bottom: 200px;
  &.timetable {
    background-color: #ffff;
    border: 3px solid #FF97C4;
  }
}

.schedule-day__header {
  font-family: 'Roboto-medium';
  font-size: 40px;
  margin-bottom: 40px;
}

.accomodation__header {
  font-family: 'Roboto-medium';
  font-size: 40px;
  margin-bottom: 40px;
}

.accomodation-link {
  margin-bottom: 10px;
}

.accomodation-link-button {
  color:#FF97C4;
}

.info-content-background-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFB5D5;
  transform: translate3d(30px, 30px, 0px);
  z-index: -1;
  border: 3px solid #e3ff00;

  &.timetable {
    background-color: #FFB5D5;
    border: 3px solid #FF97C4;
  }
}

.info-icon {
  width: 150px;
  height: 150px;
  position: absolute;
  right: -125px;
  z-index: 100;
  background-image: url('/img/yleisinfo_1.svg');
  background-repeat: no-repeat;
}

.schedule-icon {
  width: 150px;
  height: 150px;
  position: absolute;
  right: -125px;
  z-index: 100;
  background-repeat: no-repeat;

  &.wed {
    background-image: url('/img/aikataulu1_1.svg');
  }

  &.thu {
    background-image: url('/img/aikataulu2_1.svg');
  }

  &.fri {
    background-image: url('/img/aikataulu3_1.svg');
  }
}


.title-text {
  font-family: 'Roboto-medium';
  font-size: 60px;
  display: table-cell; /*acts like a table cell*/
  vertical-align: middle;
  color: #e3ff00;

  @media (max-width: 1000px) {
    margin-bottom: 20px;
  }

  &.timetable {
    color: #ff97c4;
  }
}

.content-text {
  font-family: 'Roboto-medium';
  font-size: 20px;
}

.content-text-wrapper {
  padding: 30px;
}

.timetable-table {
  width: 100%;
  th {
    font-family: 'Roboto-medium';
    text-align: left;
    font-size: 25px;
  }

  tr {
    font-family: 'Roboto-medium';
    text-align: left;
    font-size: 20px;
    td {
      padding: 20px 0px 20px 0px;
      border-bottom: 3px solid #FF97C4;
    }
  }
}

.program-row {
  .program-row-place {
    font-size: 15px;
    color: gray;
    margin-top: 5px;
  }
}

.peep {
  width: 100%;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.peep-name {
  font-family: 'Roboto-medium';
  font-size: 20px;
}

.peep-title {
  font-family: 'Roboto-medium';
  font-size: 15px;

}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .content-title-box {
    width: 80%;
    height: 20vh;
  }

  .content-content-box {
    width: 80vw;
    margin-left: 10px;
  }

  .content-title-box.inverted {
    order: 0;
  }

  .content-content-box.inverted {
    order: 1;
  }

  .title-text {
    font-size: 30px;
  }

  .schedule-day__header {
    font-family: 'Roboto-medium';
    font-size: 30px;
    margin-bottom: 40px;
  }

  .info-content-background-box {
    transform: translate3d(20px, 20px, 0px);
    border: 3px solid #e3ff00;
  }

  .schedule-icon {
    width: 60px;
    height: 60px;
    right: -40px;
  }

  .content-text {
    font-size: 17px;
  }

  .info-icon {
    width: 70px;
    height: 60px;
    top: -0px;
    right: -50px; 
  }

  .title-text {
    font-size: 40px;
    vertical-align: left;
  }

}
