@font-face {
  font-family: Roboto-medium;
  src: url('/fonts/roboto_mono_medium.ttf')
}

@font-face {
  font-family: Roboto-thin;
  src: url('/fonts/roboto_mono_thin.ttf')
}

.head-container {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 50px;
  margin-top: 0;
  font-family: 'Roboto-medium';
  color: rgba(228, 255, 47, 1);
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-blend-mode: multiply;
}

.hero-content-wrapper {
  display: inline;
}

.hero-subtitle {
  font-size: 50px;
  margin-top: 0;
  font-family: 'Roboto-thin';
  color: rgba(228, 255, 47, 1);

  &.countdown {
    font-size: 25px;
  }
}

.head-image {
  width: 400px;
  height: 400px;
}

.head-cloud {
  transition: all 0.4s cubic-bezier(0,0,0.2,1);
  position: absolute;
  padding: 5px;
  top: 100px;
  left: 40px;
  width: 75px;
  height: 75px;
}

.head-cloud.c2 {
  position: absolute;
  top: 500px;
  left: 300px;
  width: 75px;
  height: 75px;
}

.head-cloud.c3 {
  position: absolute;
  top: 124px;
  left: 900px;
  width: 75px;
  height: 75px;
}

.head-cloud.c4 {
  position: absolute;
  top: 174px;
  left: 1200px;
  width: 75px;
  height: 75px;
}

.head-cloud.c5 {
  position: absolute;
  top: 350px;
  left: 1000px;
  width: 75px;
  height: 75px;
}

.head-cloud.c6 {
  position: absolute;
  top: 234px;
  left: 234px;
  width: 75px;
  height: 75px;
}

.cloud-translate:hover {
  transform: translateY(-10px)
}

.head-cloud2 {
  width: 75px;
  height: 75px;
}

.head-isovitunkirkko {
  width: 300px;
  height: 300px;
}

@media (max-width: 1200px) {
  .head-cloud {
    display: none;
  }

  .head-isovitunkirkko {
    width: 200px;
    height: 200px;
  }
}