.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding-left: 25px;
  position: sticky; // Sticky nav
  top: 0; // Top of the page
  width: 100%;
  background-color: #FF9EC2;
  z-index: 999; // Make sure the navbar
}

.navbar__items {
  list-style-type: none;
}

.navbar__item {
  color: rgba(228, 255, 47, 1);
  font-family: 'Roboto-medium';
  display: inline;
  cursor: pointer;
  margin-right: 44px;
  transition: color 0.5s;
}

.navbar__item:hover {
  color: rgba(227, 255, 47, 0.7);
}