.spacer {
  padding: 30px 0;
  width: 100%;
  background-color: #ffb5d5;
}

.spacer_element {
  font-size: 32px;
  display: inline-block;
  font-family: 'Roboto-medium';
  color: #fff8fb;
  position: relative;
  margin: 0 100px;
}