
.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffb5d5;
  height: 75px;
}

.marquee p {
  display: inline-block;
  font-family: 'Roboto-medium';
  font-size: 20px;
  color: #fff8fb;
  z-index:100;
  position: relative;
  margin: 0 20px;
}